* {
    box-sizing: border-box;
}

html {
    --primary: #ffffff;
    --secondary: aliceblue;
    --highlight: #4cabff;
    --overlay: #8ac8ff;
    --text: black;
}

<<<<<<< HEAD
html[data-theme='light'] {
    --primary: #ffffff;
    --secondary: aliceblue;
    --text: black;
}

=======
>>>>>>> main
html[data-theme='dark'] {
    --primary: #1e1f21;
    --secondary: #292a2d;
    --text: #ffffff;
}
